<div class="page_header">
  Sign up
</div>

<div class="align_job">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, :class => "labelStyle" %>
      <%= f.email_field :email, :class => "fieldStyle", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, :class => "labelStyle" %>
      <% if @minimum_password_length %>
      <span class="labelStyle" id="temp1">
        (<%= @minimum_password_length %> characters minimum)
      </span>
      <% end %>
      <%= f.password_field :password, :class => "fieldStyle", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, :class => "labelStyle" %>
      <%= f.password_field :password_confirmation, :class => "fieldStyle", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => "buttonJobSave" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
