<!-- This page will show all jobs w/their associated ships -->

<%= @message %>
<br>

<% @jobs.each do |jobeach| %>

  <div id="job_placement">
    <%= jobeach.jobDescription %>,
    <%= jobeach.jobOrigin %>,
    <%= jobeach.jobDestination %>,
    <%= jobeach.jobCost %>,
    <%= jobeach.jobContainersAmount %>
  </div>
  <%= @ships.each do |shipeach| %>
    <div id="ship_placement">
      <%= shipeach.name %>,
      <%= shipeach.container %>,
      <%= shipeach.location %>
    </div>
  <% end %>
<% end %>
