
<%= @message %>

<br><br>
<%= form_for :job, url: new_job_path do |job|%>
  <%= label_tag "jobDescription", "Job Description: ", :class => "labelStyle" %>
  <%= job.text_field :jobDescription, placeholder: "Job Description", :autofocus=>true, :class => "fieldStyle" %><br>
  <%= label_tag "jobOrigin", "Job Origin: ", :class => "labelStyle" %>
  <%= user.text_field :jobOrigin, placeholder: "Job Origin", :class => "fieldStyle" %><br>
  <%= label_tag "jobDestination", "Job Destination: ", :class => "labelStyle" %>
  <%= user.text_field :jobDestination, placeholder: "Job Destination", :class => "fieldStyle" %><br>
  <%= label_tag "jobCost", "Job Cost: ", :class => "labelStyle" %>
  <%= user.text_field :jobCost, placeholder: "Job Cost", :class => "fieldStyle" %><br>
  <%= label_tag "jobContainersAmount", "Number of Containers Needed / Job: ", :class => "labelStyle" %>
  <%= user.text_field :jobContainersAmount, placeholder: "Qty of Containers", :class => "fieldStyle" %><br>

  <%= job.submit "Save", :class => "buttonJobSave" %>
<% end %>


<%= form_for @unicorn do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :tailcolor %>
  <%= f.text_field :tailcolor %> <br>
  <%= f.submit %>
<% end %>

<% if @unicorn.errors.full_messages.any? %>
  <ul>
    <% @unicorn.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li> <br />
    <% end %>
  </ul>
<% end %>
