<h1>THE GALACTIC SHIP CREATOR</h1>
<%= @message %>
<br><br>

<% if current_user %>
<%= form_for @ship, url: new_user_ship_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :container %>
  <%= f.text_field :container %> <br>
  <%= f.label :location %>
  <%= f.text_field :location %> <br>
  <%= f.file_field :avatar %>
  <%= f.submit %>
<% end %>
<% else %>
  <p>u suk</p>
<% end %>
<!-- error message -->

<% if @ship.errors.full_messages.any? %>
  <ul>
    <% @ship.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li> <br />
    <% end %>
  </ul>
<% end %>
