<!DOCTYPE html>
<html>
  <head>
    <title>Interplanetary Shipping Inc.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="sse50">
  <div id="sses50">
    <ul>
      <li><a href="?menu=50&skin=1&p=Javascript-Menus">Javascript Menus</a></li>
      <li><a href="?menu=50&skin=1&p=Horizontal-Menus">Horizontal Menus</a></li>
      <li><a href="?menu=50&skin=1&p=Web-Menus">Web Menus</a></li>
                <li><a class="end">&nbsp;</a></li>
    </ul>
  </div>
</div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
