<!DOCTYPE html>
<html>
  <head>
    <title>Interplanetary Shipping Inc.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Styles and Fonts-->

    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
  </head>

  <body>
  <div id="sse50">
  <div id="sses50">
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/ships">Spaceships</a></li>
      <li><a href="/jobs">Jobs</a></li>
                <li><a class="end">&nbsp;</a></li>
    </ul>
  </div>
  </div>
  <nav>
      <% if (user_signed_in?) %>
        <%= link_to 'Sign Out',  { :action=>"destroy", :controller=>"devise/sessions" }, method: :delete  %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %> |
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
