<!DOCTYPE html>
<html>
  <head>
    <title>Interplanetary Shipping Inc.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--Styles and Fonts-->

    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Wallpoet" rel="stylesheet">
  </head>

  <body>
  <div id="sse50">
  <div id="sses50">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/ships">Spaceships</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/users/sign_out">Sign Out</a></li>
      <li><a class="end">&nbsp;</a></li>
    </ul>
  </div>
  </div>

    <%= yield %>
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
